<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Раздел блога 1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div class="g-image"
     style="background: linear-gradient(90deg, rgba(68,68,82,1) 0%, rgba(215,215,228,1) 64%, rgba(77,95,98,1) 100%); background-size: 100%;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid vh-50">
                <a class="navbar-brand" href="/">Конный блог</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">О конном блоге</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Разделы блога
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/pozn">Раздел блога 1</a></li>
                                <li><a class="dropdown-item" href="/len">Раздел блога 2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/etc">Остальное</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-left navbar">
                    <form action="{% url 'search_results' %} " method="get">
                        <div class="form-group">
                            <label>
                                <input name="q" type="text" placeholder="Найти пост...">
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>

    {% block content %}
        {% for post in object_list %}
            <div style="margin-top: 1%">
                <div class="container-fluid">
                    <div class="row align-items-start">
                        <div class="col">
                            <div class="bg-image card shadow-1-strong"
                                 style="background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(106,68,76,1) 100%);">
                                <div class="card-body text-white">
                                    <h2>{{ post.title }}</h2>
                                    <p>Автор поста: <b>{{ post.author }}</b></p>
                                    <p>{{ post.body }}</p>
                                    <p>Раздел: <b>{{ post.section }}</b></p>
                                    <a href="{% url 'post_detail' post.pk %}">
                                        <button type="button" class="btn btn-primary">Подробнее</button>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% endblock content %}
        <div class="container-fluid"> <label class="text-white" >Общее кол-во постов: {{ total_posts }}</label>
    <nav aria-label="Page navigation example">
    <ul class="pagination">
        {% if page_obj.has_previous %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.previous_page_number }}{% if request.GET.paginate_by %}&paginate_by={{ request.GET.paginate_by }}{% endif %}" aria-label="Previous">
            <span aria-hidden="true">&laquo;</span>
            <span class="sr-only">Назад</span>
            </a>
        </li>
        {% endif %}

        {% for num in page_obj.paginator.page_range %}
        {% if num == page_obj.number %}
            <li class="page-item active"><a class="page-link" href="#">{{ num }} <span class="sr-only"></span></a></li>
        {% elif num > page_obj.number|add:'-5' and num < page_obj.number|add:'5' %}
            <li class="page-item"><a class="page-link" href="?page={{ num }}{% if request.GET.paginate_by %}&paginate_by={{ request.GET.paginate_by }}{% endif %}">{{ num }}</a></li>
        {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
        <li class="page-item">
            <a class="page-link" href="?page={{ page_obj.next_page_number }}{% if request.GET.paginate_by %}&paginate_by={{ request.GET.paginate_by }}{% endif %}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Вперёд</span>
            </a>
        </li>
        {% endif %}
    </ul>
    </nav>
    </div>
<!-- постов на страницу -->
    <div class="container-fluid">
    <form method="get" class="form-inline posts-per-page-form">
        <label class="text-white" for="paginate_by">Постов на 1 страницу:</label>
        <select class="form-control mr-2" name="paginate_by" id="paginate_by">
        <option value="10" {% if request.GET.paginate_by == '10' %}selected{% endif %}>10</option>
        <option value="20" {% if request.GET.paginate_by == '20' %}selected{% endif %}>20</option>
        <option value="50" {% if request.GET.paginate_by == '50' %}selected{% endif %}>50</option>
        </select>
        <button type="submit" class="btn btn-primary">Go</button>
    </form>
    </div>

    <!--suppress JSUnresolvedLibraryURL -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
            crossorigin="anonymous"></script>

</div>
</body>
</html>