<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Профиль</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
</head>
<body>
<div class="g-image"
     style="background: linear-gradient(90deg, rgba(68,68,82,1) 0%, rgba(215,215,228,1) 64%, rgba(77,95,98,1) 100%); background-size: 100%;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Конный блог</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Переключатель навигации">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="/">Главная</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/about">О конном блоге</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Разделы блога
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/pozn">Раздел блога 1</a></li>
                                <li><a class="dropdown-item" href="/len">Раздел блога 2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/etc">Остальное</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="navbar-left navbar">
                    <form action="{% url 'search_results' %} " method="get">
                        <div class="form-group">
                            <label>
                                <input name="q" type="text" placeholder="Найти пост...">
                            </label>
                        </div>
                    </form>
                </div>
            </div>
        </nav>
    </header>
{% block content %}
<div class="container mt-5 vh-100">
<a href="{% url 'home' %}" class="btn btn-primary"> "<<"Go Back</a>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h1>Профиль</h1>
        </div>
        <div class="card-body">
          <h2>Username: {{ user.username }}</h2>
          <h5>Email: {{ user.email }}</h5>
        <h5>Последний вход: {{ user.last_login }}</h5>

          <h3>Посты</h3>
          <ul class="list-group">
            {% for post in posts %}
              <a href="{% url 'post_detail' post.pk %}">{{ post.title }}
            {% empty %}
              <li class="list-group-item">No posts found</li>
            {% endfor %}
          </ul>

          <!-- Add any other data you want to display here -->
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
</div>
</body>
</html>